<div class="messages-container">
  <% @user_ordered_messages.each do |msg| %>
  <div class="message">
    <%= cl_image_tag find_photo(msg.sender), class: "photo-fit" %>
    <div class="message-text">
      <%= fullname(msg.sender) %>: <%= msg.text %>
    </div>
  </div>
  <% end %>
</div>
