// Place all the styles related to the Levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.level-title {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;

}

.level-description {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.level-banner {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.level-pieces {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
}

.level-subjects {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}

.level-students {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
