.profile-info {
  width: 100%;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  min-height: 25vh;
  background-color: white;
  padding: 1vw;

  .info-title {
    width: 30%;
  }

  .about-me-edit {
    border-bottom: black 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  .basic-info {
    border-bottom: black 1px solid;
    display: flex;


  }
  .biography {
    border-bottom: black 1px solid;
    display: flex;

  }
  .music {
    border-bottom: black 1px solid;
    display: flex;

  }
}
