// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wall-paper {
  background-color: yellow;
  height: 15vw;
  width: 100vw;
}


.profile-info-picture {
  border-radius: 50%;
  position: absolute;
  top: 5vw;
  left: 35vw;
  height: 20vw;
  width: 20vw;
}

.container-profile {
  height: 100vh;
  width: 100vw;
  background-color: red;
  position: relative;
}

.profile-info {
  width: 25%;
  background-color: #35d0ba;
  height: 100%;
  margin-left: 2vw;
}


.profile-info-data {
  text-align: left;
  margin: 2vh 2vh;
}

.profile-activity {
  width: 75%;
  background-color: yellow;
  height: 100%;
  margin-right: 2vw;
}

.my-homework {
  background-color: lightgreen;
  height: 33%;
  widht: 100%;
}
.my-pieces {
  background-color: palegreen;
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .card {
    width: 15vw;
    height: 90%;
  }
}
.show-my-follows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  height: 33%;
  widht: 100%;
  .card {
    width: 15vw;
    height: 90%;
  }
}
