
.container-profile {
  //height: 100vh;
  width: 80vw;
  background-color: #F9F9FB;
  position: relative;
  margin: 0 auto;
}

.wallpaper {
  background-color: yellow;
  height: 20vw;
  width: 100%;
}
.wallpaper-options {
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  margin-bottom: 2vw;
}

.profile-info-picture {
  //border-radius: 50%;
  position: absolute;
  /* top: 5vw;
  left: 35vw; */
  height: 15vw;
  width: 15vw;
  top: 7vw;
  left: 3vw;
  border: white 5px solid;
}

.user-name {
  position: absolute;
  top: 17vw;
  left: 21vw;
}
.profile-options {
  width: 100%;
  height: 4vw;
  background-color: #E8F0F1;
  display: flex;
  justify-content: center;
  padding-left: 10vw;
  align-items: center;
  .option {
    height:2.7vw;
    border: solid black 1px;
    background-color: white;
    width: 10vw;
    text-align: center;
    margin: 1px 0 1px 2px;
    vertical-align: middle;
    color: grey;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.option:hover {

}

#new-post {
  width: 100%;
  min-height: 25vh;
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  padding: 1vw;
  .new-post-title {
    color: #007bff;
  }
  textarea {
    background-color: #E8F0F1;
    width: 100%;
    margin: 1vw auto;
    display: block;
    height: 40%;
  }
  .new-post-submit {
    background-color: #152170;
    color: white;
    float: right;
  }
}
