
.container-profile {
  //height: 100vh;
  width: 95%;
  //background-color: #F9F9FB;

  margin: 0 auto;
}
.profile-header {
  position: relative;
  .wallpaper {
    height: 20vw;
    width: 100%;
    .profile-info-picture {
      position: absolute;
      height: 11vw;
      width: 11vw;
      bottom: 2vw;
      left: 2vw;
      border: white 5px solid;
    }
    .user-name {
      position: absolute;
      bottom: 5vw;
      left: 16vw;
      background-color: transparent;
      height:2.7vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
    .unfollow-btn{
      position: absolute;
      right: 2vw;
      bottom: 5vw;
      //background-color: transparent;
      text-decoration: none;
      height:2.7vw;
      width: 7vw;
      display: flex;
      justify-content: center;
      align-items: center;


      color: black;
    }
    .unfollow-btn:hover {
      box-shadow: 0 0 6px rgba(0,0,0,0.4);
    }
  }
  .wallpaper-options {
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    margin-bottom: 2vw;
  }
}


.profile-options {
  width: 100%;
  height: 4vw;
  background-color: #E8F0F1;
  display: flex;
  justify-content: center;
  padding-left: 10vw;
  align-items: center;
  .option {
    height:2.7vw;
    //background-color: white;
    width: 7vw;
    //text-align: center;
    margin: 1px 0 1px 2px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .option:hover {
    box-shadow: 0 0 6px rgba(0,0,0,0.4);

  }

}


#new-post {
  width: 100%;
  min-height: 25vh;
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  padding: 1vw;
  .new-post-title {
    color: #007bff;
  }
  textarea {
    background-color: #E8F0F1;
    width: 100%;
    margin: 1vw auto;
    display: block;
    height: 40%;
  }
  .new-post-submit {
    background-color: #152170;
    color: white;
    float: right;
  }
}
