<div class="title">My Repertoire</div>
  <div class="pieces-index-container">
    <% @user_repertoire.each do |piece| %>
      <div class="pieces-index-card">
        <%= link_to piece.piece.name, piece_path(piece) %>
      </div>
    <% end %>
  </div>
   <div class="title">Other Suggested Pieces</div>
  <div class="pieces-index-container">
    <% @other_pieces.each do |piece| %>
      <div class="pieces-index-card">
        <%= link_to piece.name, piece_path(piece) %>
      </div>
      <% end %>
    </div>
</div>
