<div class="container-profile">
  <div class="wallpaper">
    <%= cl_image_tag find_wallPaper(@user), class: "wallpaper-photo photo-fit" %>
    <%= cl_image_tag find_photo(@user), class: "profile-info-picture" %>
    <div class="user-name"><%= @user.first_name %> <%= @user.last_name %></div>
  </div>
  <div class="profile-options">
    <div class="option">Timeline</div>
    <div class="option">About</div>
    <div class="option">Friends</div>
    <div class="option">Photos</div>
  </div>
  <div class="profile-content"></div>

</div>
