

  <% @user_videos.each do |video| %>
    <div class="card">
      <div class="card-video">
        <%= render_youtube_video video.url %>
      </div>
      <div class="card-info">
        <p><%= video.title %></p>
        <p><%= video.description %></p>

      </div>
    </div>
  <% end %>

<p><%= link_to "Add Video", new_piece_path, class: "btn btn-primary" %></p>
