


<div class="container">

<!-- With Name and Arrow - LEFT -->
<div class="msg-container">
  <div class="bubble">
    <div class="txt">
      <span class="name">Mike</span>
      <span class="timestamp">10:20 pm</span>
      <span class="msg">
        Can you believe this amazing chat bubbles? It's all CSS.
      </span>

    </div>
    <div class="bubble-arrow"></div>
  </div>
</div>

<!-- Without Name nor Arrow - LEFT -->
<div class="msg-container">
  <div class="bubble follow">
    <div class="txt">
      <span class="timestamp">10:21 pm</span>
      <span class="msg follow">Think of the possibilities. &#x1f60d; </span>
    </div>
  </div>
</div>

<!-- With Name and Arrow - RIGHT -->
<div class="msg-container">
  <div class="bubble alt">
    <div class="txt">
      <span class="name alt">My Name
      </span>
      <span class="timestamp">10:22 pm</span>
      <p class="msg">It's nuts, dude. Nuts</p>
    </div>
    <div class="bubble-arrow alt"></div>
  </div>
</div>

<!-- With Number and Name and Arrow - LEFT -->
<div class="msg-container">
  <div class="bubble">
    <div class="txt">
      <span class="name">+353 87 1234 567<span> ~ John</span></span>
      <span class="timestamp">10:20 pm</span>
      <p class="msg">Hey, check out this Pure CSS speech bubble...</p>
    </div>
    <div class="bubble-arrow"></div>
  </div>
</div>

<!-- Without Name, With Arrow - RIGHT -->
<div class="msg-container">
  <div class="bubble altfollow">
    <div class="txt">
      <span class="timestamp">10:22 pm</span>
      <p class="msg follow">Nice... this will work great for my new project.</p>
    </div>
    <div class="bubble-arrow alt"></div>
  </div>
</div>

<!-- Without Name nor Arrow - RIGHT -->
<div class="msg-container">
  <div class="bubble altfollow">
    <div class="txt">
      <span class="timestamp">10:21 pm</span>
      <p class="msg follow">
        Thanks Benni! You the real mvp
      </p>
    </div>
  </div>
</div>

</div>
