<div class="homepage-container">

  <h1>WELCOME to A-V-A</h1>

  <div class="home-info">
    <p>Hi <%= current_user.first_name %>!</p>
    <p>--> Complete your profile</p>
    <p>--> Follow other students</p>
    <p>--> Write a post, to let your followers know about your thoughts!</p>
    <p>--> Keep updated at the general post wall</p>
    <p>--> Check your current level's ongoing courses. Enroll if interested</p>
    <p>--> Work on you current subjects</p>
    <p>--> Check your Mail</p>
  </div>





</div>
