
<div class="network-container">

    <% @my_followed_users.each do |usr| %>
        <div class="user-card">
          <div class="card-photo-container">
            <%= cl_image_tag find_avatar(usr), class: "photo-fit" %>
          </div>
          <div class="card-info-container">
            <p><%= link_to fullname(usr), user_path(usr) %></p>
            <p><%= usr.introduction %></p>
            <p><%= button_to("Unfollow", follow_path(usr), method: :delete )%></p>
          </div>
        </div>
    <% end %>


</div>
