
  <div class="level-title"><%= @level.name %></div>
  <div class="level-banner"><%= cl_image_tag find_avatar(@level) %></div>
  <div class="level-description">(Description) <%= @level.description %></div>
  <div class="level-pieces">Check out this level recommended repertoire for your instrument!</div>
  <div class="level-subjects">Check out this level subjects!</div>
  <div class="level-students">Find other students of this level!</div>

