.card-photo {
  height: 100%;
  width:100%;

}

.user-card {
  display: flex;
  text-align: center;
  //width: 20vw;
  height: 20vh;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.card-photo-container {
  width: 40%;
}

/////////////////////////////////////////////////////////
.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
  width: 100%;
  margin-bottom: 2vw;
}
.card {
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  text-align: center;
  margin-bottom: 2vh;
}
.card-photo img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-video {
  height: 60vh;
  iframe{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.card-photo {
    width: 100%;
    height: 40%;
}


.card-info-container {
  background-color: orange;
  width: 60%;
  padding: 2rem;
  text-align: center;
  .card-info-name a {
    font-size: 70%;
  }
  .card-info-text  {
    font-size: 50%;
  }
}



