

#menu-button {
  position: absolute;
  top: 1vw;
  left: 2vw;
  font-size: 4vw;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  //z-index: 1;
  //top: 0;
  //left: 0;
  background-color: #111;
  //overflow-x: hidden;
  //padding-top: 20px;

 a:hover {
  color: #f1f1f1;
}
}
.sidenav-expanded {
  height: 100%;
  width: 20%;
  position: fixed;
  //z-index: 1;
  //top: 0;
  //left: 0;
  background-color: #111;
  //overflow-x: hidden;
  //padding-top: 20px;

 a:hover {
  color: #f1f1f1;
}
}



h1 {
  text-align: center;
  font-size: 3vw;
}


.links {
  margin-top: 5vh;
  text-align: center;
  a {
    color: #818181;
    display: block;
    margin-bottom: 2vw;
  }
  i {
    font-size: 3vw;
  }
}


