//External libraries
@import "bootstrap/scss/bootstrap";
@import 'mapbox-gl/dist/mapbox-gl';
@import 'font-awesome';

//Internal libraries
@import "pages/index";
@import "components/index";


body {
  width: 100vw;
  height: 100vh;
}
.photo-fit {
  width:100%;
  height:100%;
}

.main {
  width:100%;
  height: 200vh;
  padding-left: 10%;
}

.main-shrinked {
  padding-left: 20%;
}


